@import "../public/font/index.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition:
    background-color linear 0.2s,
    border-color linear 0.2s;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--bg-page);
  color: var(--primary);
}

button * {
  font-family: Inter, sans-serif;
}

body[theme="light"] {
  --primary: #403f3d;
  --inverse: #e1d4c9;
  --accent: #b0907a;
  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: #403f3d80;
  --b-primary: #c1b6ad;
  --b-primary-dark: #665f55;
  --b-inverse: #665f55;
}

body[theme="dark"] {
  --primary: #e1d4c9;
  --inverse: #e1d4c9;
  --accent: #b0907a;
  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: #29282680;
  --b-primary: #665f55;
  --b-inverse: #c1b6ad;
}

body[theme="dark"] [data-theme="hide-light"] {
  display: none !important;
}

body[theme="light"] [data-theme="hide-dark"] {
  display: none !important;
}

/* Typography */
h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  margin: 0;

  @media (max-width: 380px) {
    font-size: 42px;
    line-height: 115%;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.color-accent {
  color: var(--accent);
}

.color-inverse {
  color: var(--inverse);
}

.italic {
  font-style: italic;
}

.section {
  margin-bottom: 100px;
}

.section-header {
  width: 100%;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;

  @media (max-width: 380px) {
    font-size: 32px;
  }
}

.no-margin {
  margin: 0 !important;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 78px;
  border-radius: 100px;
  background: var(--bg-page);
  border: 1px solid var(--bg-page);

  color: var(--primary);
  font-weight: 600;
}

.button-primary:hover {
  cursor: pointer;
}

.button-secondary {
  background: transparent;
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--b-inverse);

  color: var(--primary);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.button-secondary:hover {
  background-color: var(--bg-container);
  cursor: pointer;
  color: var(--inverse);
}

.button-secondary:hover * {
  color: var(--inverse);
}

.button-social {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--b-primary);
  border-radius: 50%;
}

.button-social:hover {
  background: var(--bg-page);
  border-color: var(--bg-page);
  cursor: pointer;
}

.button-social.social-twitter::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/twitter-bird.svg");
}

.button-social:hover.social-twitter::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/twitter-bird-primary.svg");
}

.button-social.social-instagram::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/instagram.svg");
}

.button-social:hover.social-instagram::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/instagram-primary.svg");
}

.button-social.social-facebook::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/facebook.svg");
}

.button-social:hover.social-facebook::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/facebook-primary.svg");
}

/* Header */
.header {
  padding-top: 20px;
  max-width: 1440px;
  padding-inline: 40px;
  margin: 0 auto;

  @media (max-width: 380px) {
    padding-inline: 16px;
  }
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 60px;
}

.menu-mobile-toggle {
  width: 44px;
  height: 44px;
  padding: 0;

  @media (min-width: 769px) {
    display: none;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  line-height: 150%;

  &:hover {
    font-weight: 600;
    text-decoration: underline solid 2px;
    text-underline-offset: 4px;
  }
}

.nav-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/* Theme Toggle */
.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 3px;
  border: 1px solid var(--b-primary);
  border-radius: 100px;
}

.theme-toggle-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

body[theme="light"] .theme-toggle-btn.active-light {
  background-color: var(--accent);
}

body[theme="dark"] .theme-toggle-btn.active-dark {
  background-color: var(--accent);
}

body[theme="dark"] .theme-toggle-btn.active-light:hover {
  background-color: var(--bg-container);
}

body[theme="light"] .theme-toggle-btn.active-dark:hover {
  background-color: var(--b-primary-dark);
}

body[theme="light"] .theme-toggle-btn.active-dark:hover [data-theme="hide-light"] {
  display: none;
}

body[theme="light"] .theme-toggle-btn.active-dark:hover [data-theme="hide-dark"] {
  display: block !important;
}

/* Menu Button */
.menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding-inline: 0;

  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  @media (max-width: 768px) {
    display: none;
  }
}

.menu-button:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 4px;
}

.menu-button-active {
  text-decoration: underline solid 2px;
  text-underline-offset: 4px;
}

/* Main Content */
.main {
  max-width: 1440px;
  padding-inline: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (max-width: 380px) {
    padding-inline: 16px;
  }
}

.hero-section {
  background-image: url("/img-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  height: 644px;
  padding: 100px;
}

.hero-info {
  max-width: 530px;
}

.hero-text {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: var(--inverse);
  margin-bottom: 40px;
}

.hero-sub-text {
  color: var(--inverse);
  line-height: 150%;
  margin-bottom: 40px;
}

.hero-cta {
  padding: 21px 78px;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--b-inverse);
}

.slider-button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("/icons/arrow-left.svg") center no-repeat;
}

body[theme="dark"] .slider-button::after,
.slider-button:hover.slider-button::after {
  background: url("/icons/arrow-left-inverse.svg") center no-repeat;
}

.slider-button:hover {
  background: var(--bg-container);
  border-color: var(--bg-container);
  cursor: pointer;
}

.slider-button:hover img {
  filter: invert();
}

.slider-button-right {
  transform: rotate(180deg);
}

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.slider-item-wrpapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 480px;
  max-width: 1152px;
}

.slider-item {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slider-item-image {
  height: 480px;
}

.slider-item-image img {
  width: 480px;
}

.slider-item-title {
  color: var(--primary);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-item-description {
  color: var(--primary);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.slider-item-price {
  color: var(--primary);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.slider-option {
  width: 40px;
  height: 4px;
  background: var(--b-primary);
  border-radius: 100px;
}

.slider-option-active {
  background: var(--b-inverse);
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.photo {
  border-radius: 20px;
  overflow: hidden;
  max-width: 660px;
  max-height: 590px;
}

.photo-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 660px;
  max-width: 660px;
}

.photo img {
  transform: scale(110%);
  transition: transform linear 0.2s;
  object-fit: cover;
  width: 100%;
}

.photo:hover img {
  transform: scale(100%);
}

.photo-1 img {
  height: 590px;
}

.photo-2 {
  background-size: 726px;
  height: 430px;

  @media (max-width: 768px) {
    display: none;
  }
}

.photo-2 img {
  height: 430px;
}

.photo-3 {
  height: 430px;

  @media (max-width: 768px) {
    display: none;
  }
}

.photo-3 img {
  height: 430px;
}

.photo-4 {
  height: 590px;
}

.photo-4 img {
  height: 590px;
}

.download-text {
  margin-bottom: 40px;
  align-self: stretch;
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.download-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.download-button {
  padding: 11px 14px;
  width: 200px;
  justify-content: flex-start;
}

.download-button-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.download-button-available {
  color: var(--primary);
  text-align: start;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.image-play-market {
  width: 36px;
  height: 36px;
  background-image: url("/icons/play-market.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.image-apple-store {
  width: 36px;
  height: 36px;
  background-image: url("/icons/apple.svg");
  background-position: center;
  background-repeat: no-repeat;
}

body[theme="dark"] .image-apple-store,
.download-button:hover .image-apple-store {
  background-image: url("/icons/apple-inverse.svg");
}

body[theme="dark"] .image-play-market,
.download-button:hover .image-play-market {
  background-image: url("/icons/play-market-inverse.svg");
}

.download-combo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.download-combo-item {
  max-width: 630px;
  max-height: 630px;

  @media (max-width: 769px) {
    max-width: 100%;
  }
}

.download-mobiles {
  width: 100%;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

.footer-combo {
  padding: 100px;
  background: var(--bg-container);
  border-radius: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;

  @media (max-width: 768px) {
    padding: 100px 60px;
  }

  @media (max-width: 380px) {
    padding: 60px 16px;
  }
}

.footer-item {
  max-width: 530px;
}

.footer-item-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-title {
  color: var(--inverse);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;

  margin-bottom: 40px;
}

.contact-combo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  color: var(--inverse);
  font-weight: 600;
  line-height: 150%;
}

.contact-combo:not(:last-child) {
  margin-bottom: 20px;
}

.contact-socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-link:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 4px;
}

.menu-title {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.menu-selector {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu-selector-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid var(--bg-container);
}

.menu-selector-item:hover {
  cursor: pointer;
}

.menu-selector-item-active {
  color: var(--inverse);
  background-color: var(--bg-container);
  border-color: var(--bg-container);
}

.menu-selector-item-active .menu-selector-icon {
  background: var(--bg-page);
}

.menu-selector-icon {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background: var(--b-primary);

  border-radius: 50%;
}

.menu-selector-icon img {
  width: 16px;
}

.price-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.price-card {
  width: 310px;
  height: 506px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--b-primary);
  overflow: hidden;
}

.card-image {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
}

.card-image img {
  transform: scale(110%);
  transition: transform linear 0.2s;

  width: 100%;
  object-fit: cover;
  object-position: center;
}

.price-card:hover {
  cursor: pointer;
}

.price-card:hover .card-image img {
  transform: scale(100%);
  background-size: 90%;
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.card-description {
  line-height: 150%;
}

.card-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
